-- MySQL dump 10.13  Distrib 5.6.51, for Win64 (x86_64)
--
-- Host: localhost    Database: easyopti
-- ------------------------------------------------------
-- Server version	5.6.51-log

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Temporary table structure for view `v_invoice_basic`
--

DROP TABLE IF EXISTS `v_invoice_basic`;
/*!50001 DROP VIEW IF EXISTS `v_invoice_basic`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `v_invoice_basic` AS SELECT 
 1 AS `invoiceid`,
 1 AS `acctid`,
 1 AS `invoice_date`,
 1 AS `pat_bal`,
 1 AS `ins_bal`,
 1 AS `total_bal`,
 1 AS `quote`,
 1 AS `void_day`,
 1 AS `locid`,
 1 AS `createdate`,
 1 AS `lastedited`,
 1 AS `status`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `v_invoice_enriched`
--

DROP TABLE IF EXISTS `v_invoice_enriched`;
/*!50001 DROP VIEW IF EXISTS `v_invoice_enriched`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `v_invoice_enriched` AS SELECT 
 1 AS `invoiceid`,
 1 AS `acctid`,
 1 AS `invoice_date`,
 1 AS `pat_bal_cents`,
 1 AS `ins_bal_cents`,
 1 AS `total_bal_cents`,
 1 AS `quote`,
 1 AS `void_day`,
 1 AS `locid`,
 1 AS `createdate`,
 1 AS `lastedited`,
 1 AS `patient_first_name`,
 1 AS `patient_last_name`,
 1 AS `status`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `v_invoice_full`
--

DROP TABLE IF EXISTS `v_invoice_full`;
/*!50001 DROP VIEW IF EXISTS `v_invoice_full`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `v_invoice_full` AS SELECT 
 1 AS `invoiceid`,
 1 AS `acctid`,
 1 AS `invoice_date`,
 1 AS `pat_bal_cents`,
 1 AS `ins_bal_cents`,
 1 AS `total_bal_cents`,
 1 AS `quote`,
 1 AS `void_day`,
 1 AS `locid`,
 1 AS `createdate`,
 1 AS `lastedited`,
 1 AS `patient_first_name`,
 1 AS `patient_last_name`,
 1 AS `status`,
 1 AS `delta_pat_cents`,
 1 AS `delta_ins_cents`,
 1 AS `delta_total_cents`,
 1 AS `payments_cnt`,
 1 AS `first_payment_day`,
 1 AS `last_payment_day`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `v_invoice_lines`
--

DROP TABLE IF EXISTS `v_invoice_lines`;
/*!50001 DROP VIEW IF EXISTS `v_invoice_lines`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `v_invoice_lines` AS SELECT 
 1 AS `invoiceid`,
 1 AS `transid`,
 1 AS `bill_code`,
 1 AS `cpt`,
 1 AS `bill_descr`,
 1 AS `t_group`,
 1 AS `line_type`,
 1 AS `line_pat_cents`,
 1 AS `line_ins_cents`,
 1 AS `line_total_cents`,
 1 AS `insid`,
 1 AS `optiid`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `v_invoice_payments`
--

DROP TABLE IF EXISTS `v_invoice_payments`;
/*!50001 DROP VIEW IF EXISTS `v_invoice_payments`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `v_invoice_payments` AS SELECT 
 1 AS `invoiceid`,
 1 AS `delta_pat_cents`,
 1 AS `delta_ins_cents`,
 1 AS `delta_total_cents`,
 1 AS `payments_cnt`,
 1 AS `first_payment_day`,
 1 AS `last_payment_day`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `v_invoice_receipts`
--

DROP TABLE IF EXISTS `v_invoice_receipts`;
/*!50001 DROP VIEW IF EXISTS `v_invoice_receipts`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `v_invoice_receipts` AS SELECT 
 1 AS `invoiceid`,
 1 AS `receipts_cents`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `v_invoice_receipts_raw`
--

DROP TABLE IF EXISTS `v_invoice_receipts_raw`;
/*!50001 DROP VIEW IF EXISTS `v_invoice_receipts_raw`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `v_invoice_receipts_raw` AS SELECT 
 1 AS `invoiceid`,
 1 AS `sum_ins_bal_cents`,
 1 AS `sum_pat_bal_cents`,
 1 AS `ins_write_off_cents`,
 1 AS `pat_discount_cents`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `v_invoice_sales`
--

DROP TABLE IF EXISTS `v_invoice_sales`;
/*!50001 DROP VIEW IF EXISTS `v_invoice_sales`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `v_invoice_sales` AS SELECT 
 1 AS `invoiceid`,
 1 AS `sales_total_cents`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `v_invoice_status`
--

DROP TABLE IF EXISTS `v_invoice_status`;
/*!50001 DROP VIEW IF EXISTS `v_invoice_status`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `v_invoice_status` AS SELECT 
 1 AS `invoiceid`,
 1 AS `acctid`,
 1 AS `invoice_date`,
 1 AS `pat_bal_created`,
 1 AS `ins_bal_created`,
 1 AS `pat_bal_latest`,
 1 AS `ins_bal_latest`,
 1 AS `total_bal_latest`,
 1 AS `quote`,
 1 AS `void_day`,
 1 AS `locid`,
 1 AS `createdate`,
 1 AS `lastedited`,
 1 AS `status`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `v_invoice_summary`
--

DROP TABLE IF EXISTS `v_invoice_summary`;
/*!50001 DROP VIEW IF EXISTS `v_invoice_summary`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `v_invoice_summary` AS SELECT 
 1 AS `invoiceid`,
 1 AS `acctid`,
 1 AS `invoice_date`,
 1 AS `patient_first_name`,
 1 AS `patient_last_name`,
 1 AS `pat_bal_cents`,
 1 AS `ins_bal_cents`,
 1 AS `total_bal_cents`,
 1 AS `status`,
 1 AS `void_day`,
 1 AS `locid`,
 1 AS `createdate`,
 1 AS `lastedited`,
 1 AS `sales_cents`,
 1 AS `receipts_cents`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `v_trans_pay_latest`
--

DROP TABLE IF EXISTS `v_trans_pay_latest`;
/*!50001 DROP VIEW IF EXISTS `v_trans_pay_latest`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `v_trans_pay_latest` AS SELECT 
 1 AS `transid`,
 1 AS `invoiceid`,
 1 AS `day`,
 1 AS `pat_bal`,
 1 AS `ins_bal`,
 1 AS `insid`,
 1 AS `type`,
 1 AS `xml`,
 1 AS `locid`,
 1 AS `cashierid`*/;
SET character_set_client = @saved_cs_client;

--
-- Final view structure for view `v_invoice_basic`
--

/*!50001 DROP VIEW IF EXISTS `v_invoice_basic`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_invoice_basic` AS select `invoice`.`invoiceid` AS `invoiceid`,`invoice`.`acctid` AS `acctid`,`invoice`.`day` AS `invoice_date`,`invoice`.`pat_bal` AS `pat_bal`,`invoice`.`ins_bal` AS `ins_bal`,(`invoice`.`pat_bal` + `invoice`.`ins_bal`) AS `total_bal`,`invoice`.`quote` AS `quote`,`invoice`.`void_day` AS `void_day`,`invoice`.`locid` AS `locid`,`invoice`.`createdate` AS `createdate`,`invoice`.`lastedited` AS `lastedited`,(case when (`invoice`.`quote` = 1) then 'QUOTE' when (`invoice`.`void_day` is not null) then 'VOID' when ((`invoice`.`pat_bal` + `invoice`.`ins_bal`) = 0) then 'CLOSED' else 'OPEN' end) AS `status` from `invoice` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_invoice_enriched`
--

/*!50001 DROP VIEW IF EXISTS `v_invoice_enriched`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_invoice_enriched` AS select `i`.`invoiceid` AS `invoiceid`,`i`.`acctid` AS `acctid`,`i`.`day` AS `invoice_date`,`i`.`pat_bal` AS `pat_bal_cents`,`i`.`ins_bal` AS `ins_bal_cents`,(`i`.`pat_bal` + `i`.`ins_bal`) AS `total_bal_cents`,`i`.`quote` AS `quote`,`i`.`void_day` AS `void_day`,`i`.`locid` AS `locid`,`i`.`createdate` AS `createdate`,`i`.`lastedited` AS `lastedited`,`p`.`patient_first_name` AS `patient_first_name`,`p`.`patient_last_name` AS `patient_last_name`,(case when (`i`.`quote` = 1) then 'QUOTE' when (`i`.`void_day` is not null) then 'VOID' when ((`i`.`pat_bal` + `i`.`ins_bal`) = 0) then 'CLOSED' else 'OPEN' end) AS `status` from (`invoice` `i` left join `patients` `p` on((`p`.`acctid` = `i`.`acctid`))) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_invoice_full`
--

/*!50001 DROP VIEW IF EXISTS `v_invoice_full`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_invoice_full` AS select `e`.`invoiceid` AS `invoiceid`,`e`.`acctid` AS `acctid`,`e`.`invoice_date` AS `invoice_date`,`e`.`pat_bal_cents` AS `pat_bal_cents`,`e`.`ins_bal_cents` AS `ins_bal_cents`,`e`.`total_bal_cents` AS `total_bal_cents`,`e`.`quote` AS `quote`,`e`.`void_day` AS `void_day`,`e`.`locid` AS `locid`,`e`.`createdate` AS `createdate`,`e`.`lastedited` AS `lastedited`,`e`.`patient_first_name` AS `patient_first_name`,`e`.`patient_last_name` AS `patient_last_name`,`e`.`status` AS `status`,coalesce(`p`.`delta_pat_cents`,0) AS `delta_pat_cents`,coalesce(`p`.`delta_ins_cents`,0) AS `delta_ins_cents`,coalesce(`p`.`delta_total_cents`,0) AS `delta_total_cents`,coalesce(`p`.`payments_cnt`,0) AS `payments_cnt`,`p`.`first_payment_day` AS `first_payment_day`,`p`.`last_payment_day` AS `last_payment_day` from (`v_invoice_enriched` `e` left join `v_invoice_payments` `p` on((`p`.`invoiceid` = `e`.`invoiceid`))) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_invoice_lines`
--

/*!50001 DROP VIEW IF EXISTS `v_invoice_lines`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_invoice_lines` AS select `td`.`invoiceid` AS `invoiceid`,`td`.`transid` AS `transid`,`td`.`bc` AS `bill_code`,`b`.`procid` AS `cpt`,`b`.`descr` AS `bill_descr`,`b`.`t_group` AS `t_group`,`td`.`type` AS `line_type`,`td`.`pat_bal` AS `line_pat_cents`,`td`.`ins_bal` AS `line_ins_cents`,(`td`.`pat_bal` + `td`.`ins_bal`) AS `line_total_cents`,`td`.`insid` AS `insid`,`td`.`optiid` AS `optiid` from (`trans_data` `td` left join `billing` `b` on((`b`.`billid` = `td`.`bc`))) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_invoice_payments`
--

/*!50001 DROP VIEW IF EXISTS `v_invoice_payments`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_invoice_payments` AS select `tp`.`invoiceid` AS `invoiceid`,sum(`tp`.`pat_bal`) AS `delta_pat_cents`,sum(`tp`.`ins_bal`) AS `delta_ins_cents`,sum((`tp`.`pat_bal` + `tp`.`ins_bal`)) AS `delta_total_cents`,count(0) AS `payments_cnt`,min(`tp`.`day`) AS `first_payment_day`,max(`tp`.`day`) AS `last_payment_day` from `trans_pay` `tp` group by `tp`.`invoiceid` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_invoice_receipts`
--

/*!50001 DROP VIEW IF EXISTS `v_invoice_receipts`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_invoice_receipts` AS select `r`.`invoiceid` AS `invoiceid`,(((`r`.`sum_ins_bal_cents` - `r`.`ins_write_off_cents`) + (`r`.`sum_pat_bal_cents` - `r`.`pat_discount_cents`)) * -(1)) AS `receipts_cents` from `v_invoice_receipts_raw` `r` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_invoice_receipts_raw`
--

/*!50001 DROP VIEW IF EXISTS `v_invoice_receipts_raw`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_invoice_receipts_raw` AS select `tp`.`invoiceid` AS `invoiceid`,sum(`tp`.`ins_bal`) AS `sum_ins_bal_cents`,sum(`tp`.`pat_bal`) AS `sum_pat_bal_cents`,sum((case when (`tp`.`type` = 7) then `tp`.`ins_bal` else 0 end)) AS `ins_write_off_cents`,sum((case when (`tp`.`type` = 4) then `tp`.`pat_bal` else 0 end)) AS `pat_discount_cents` from `trans_pay` `tp` group by `tp`.`invoiceid` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_invoice_sales`
--

/*!50001 DROP VIEW IF EXISTS `v_invoice_sales`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_invoice_sales` AS select `l`.`invoiceid` AS `invoiceid`,sum(`l`.`line_total_cents`) AS `sales_total_cents` from `v_invoice_lines` `l` group by `l`.`invoiceid` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_invoice_status`
--

/*!50001 DROP VIEW IF EXISTS `v_invoice_status`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_invoice_status` AS select `inv`.`invoiceid` AS `invoiceid`,`inv`.`acctid` AS `acctid`,`inv`.`day` AS `invoice_date`,`inv`.`pat_bal` AS `pat_bal_created`,`inv`.`ins_bal` AS `ins_bal_created`,coalesce(`tpl`.`pat_bal`,`inv`.`pat_bal`) AS `pat_bal_latest`,coalesce(`tpl`.`ins_bal`,`inv`.`ins_bal`) AS `ins_bal_latest`,(coalesce(`tpl`.`pat_bal`,`inv`.`pat_bal`) + coalesce(`tpl`.`ins_bal`,`inv`.`ins_bal`)) AS `total_bal_latest`,`inv`.`quote` AS `quote`,`inv`.`void_day` AS `void_day`,`inv`.`locid` AS `locid`,`inv`.`createdate` AS `createdate`,`inv`.`lastedited` AS `lastedited`,(case when (`inv`.`void_day` is not null) then 'VOID' when (`inv`.`quote` = 1) then 'QUOTE' when ((coalesce(`tpl`.`pat_bal`,`inv`.`pat_bal`) + coalesce(`tpl`.`ins_bal`,`inv`.`ins_bal`)) = 0) then 'PAID' else 'OPEN' end) AS `status` from (`invoice` `inv` left join `v_trans_pay_latest` `tpl` on((`tpl`.`invoiceid` = `inv`.`invoiceid`))) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_invoice_summary`
--

/*!50001 DROP VIEW IF EXISTS `v_invoice_summary`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_invoice_summary` AS select `e`.`invoiceid` AS `invoiceid`,`e`.`acctid` AS `acctid`,`e`.`invoice_date` AS `invoice_date`,`e`.`patient_first_name` AS `patient_first_name`,`e`.`patient_last_name` AS `patient_last_name`,`e`.`pat_bal_cents` AS `pat_bal_cents`,`e`.`ins_bal_cents` AS `ins_bal_cents`,`e`.`total_bal_cents` AS `total_bal_cents`,`e`.`status` AS `status`,`e`.`void_day` AS `void_day`,`e`.`locid` AS `locid`,`e`.`createdate` AS `createdate`,`e`.`lastedited` AS `lastedited`,(case when isnull(`e`.`void_day`) then coalesce(`s`.`sales_total_cents`,0) else 0 end) AS `sales_cents`,(case when isnull(`e`.`void_day`) then coalesce(`r`.`receipts_cents`,0) else 0 end) AS `receipts_cents` from ((`v_invoice_enriched` `e` left join `v_invoice_sales` `s` on((`s`.`invoiceid` = `e`.`invoiceid`))) left join `v_invoice_receipts` `r` on((`r`.`invoiceid` = `e`.`invoiceid`))) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_trans_pay_latest`
--

/*!50001 DROP VIEW IF EXISTS `v_trans_pay_latest`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_trans_pay_latest` AS select `t1`.`transid` AS `transid`,`t1`.`invoiceid` AS `invoiceid`,`t1`.`day` AS `day`,`t1`.`pat_bal` AS `pat_bal`,`t1`.`ins_bal` AS `ins_bal`,`t1`.`insid` AS `insid`,`t1`.`type` AS `type`,`t1`.`xml` AS `xml`,`t1`.`locid` AS `locid`,`t1`.`cashierid` AS `cashierid` from (`trans_pay` `t1` left join `trans_pay` `t2` on(((`t2`.`invoiceid` = `t1`.`invoiceid`) and (`t2`.`transid` > `t1`.`transid`)))) where isnull(`t2`.`transid`) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-08-14 16:19:24
